{% extends 'Base.html.twig' %}

{% block head %}
<script type="text/javascript" src="/Js/EditMenu.js">
</script>
{% endblock %}

{% block menu_top %}
	<div id="header" style="width: 660px">
	{% if widgets_top %}
		<div id="menu_top">
		{% for key,widget in widgets_top %}
			{% if widget.type == "menu" %}
				<div class="header_block" style="padding: 0px" onclick="moves('menu','top','{{ key }}');" title="{{ key }}">
				{% if widget.items %}
					{% for ikey,item in widget.items %}
						<div class="header_menu_block"><a href="javascript:moves('item','top','{{ ikey }}','{{ key }}','{{ item.value }}')" title="{{ key }}">{{ item.name }}</a></div>
					{% endfor %}
				{% else %}
					<div class="header_menu_block"></div>
				{% endif %}
				</div>
			{% elseif widget.type == "clock" %}
				<div class="header_block" style="padding: 0px" >
				<div class="clock" style="color: {{ widget.color }}; {{ widget.style }}" onclick="movesClock('clock','top','{{ key }}','{{ widget.color }}', '{{ widget.style }}');" title="{{ key }}");" title="{{ key }}"></div></div>
			{% elseif widget.type == "users" %}
				<div class="header_block" style="padding: 0px" >
				<div class="users" style="padding: 5px;" onclick="movesUsers('users','top','{{ key }}','{{ widget.option }}', '{{ widget.link }}');">
				{% if widget.option == 0 %}
					Liczba użytkowników online: {{ widget.count }} Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% elseif widget.option == 1 %}
					Liczba użytkowników online: {{ widget.count }}
				{% elseif widget.option == 2 %}
					Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% endif %}
				</div></div>
			{% endif %}
		{% endfor %}
		</div>
	{% endif %}
	</div>
{% endblock %}

{% block menu_left %}
	{% if widgets_left %}
		<div id="menu_left" style="width: 70px">
		{% for key,widget in widgets_left %}
			{% if widget.type == "menu" %}
				<div class="menu_block" onclick="moves('menu','left','{{ key }}');" title="{{ key }}">
				<div id="menu_header">
					{{ widget.title }}
				</div>
				{% for ikey,item in widget.items %}
					<a href="javascript:moves('item','left','{{ ikey }}','{{ key }}','{{ item.value }}');" title="{{ key }}">{{ item.name }}</a></br>
				{% endfor %}
				</div>
			{% elseif widget.type == "clock" %}
				<div class="menu_block">
				<div class="clock" style="color: {{ widget.color }}; {{ widget.style }}" onclick="movesClock('clock','left','{{ key }}','{{ widget.color }}', '{{ widget.style }}');" title="{{ key }}"></div></div>
			{% elseif widget.type == "users" %}
				<div class="menu_block">
				<div class="users" onclick="movesUsers('users','left','{{ key }}','{{ widget.option }}', '{{ widget.link }}');">
				{% if widget.option == 0 %}
					Liczba użytkowników online: {{ widget.count }} Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% elseif widget.option == 1 %}
					Liczba użytkowników online: {{ widget.count }}
				{% elseif widget.option == 2 %}
					Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% endif %}
				</div></div>
			{% endif %}
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block page %}
	{% if widgets_left and widgets_right %}
		<div id="main_page" style="width: 500px">
	{% else %}
		<div id="main_page">
	{% endif %}
	<div class="page_block" style="min-height: 50px;" onclick="location.href='/admin/edit_menu';"></div>	
	<div class="page_block" style="min-height: 50px;" onclick="location.href='/admin/edit_menu';"></div>
	<div class="page_block" style="min-height: 50px;" onclick="location.href='/admin/edit_menu';"></div>
	<div class="page_block" style="min-height: 50px;" onclick="location.href='/admin/edit_menu';"></div>
	<div class="page_block" style="min-height: 50px;" onclick="location.href='/admin/edit_menu';"></div>
	</div>
{% endblock %}

{% block menu_right %}
	{% if widgets_right %}
		<div id="menu_right" style="width: 70px">
		{% for key,widget in widgets_right %}
			{% if widget.type == "menu" %}
				<div class="menu_block" onclick="moves('menu','right','{{ key }}');" title="{{ key }}">
				<div id="menu_header">
					{{ widget.title }}
				</div>
				{% for ikey,item in widget.items %}
					<a href="javascript:moves('item','right','{{ ikey }}','{{ key }}','{{ item.value }}');" title="{{ key }}">{{ item.name }}</a></br>
				{% endfor %}
				</div>
			{% elseif widget.type == "clock" %}
				<div class="menu_block">
				<div class="clock" style="color: {{ widget.color }}; {{ widget.style }}" onclick="movesClock('clock','right','{{ key }}','{{ widget.color }}', '{{ widget.style }}');" title="{{ key }}"></div></div>
			{% elseif widget.type == "users" %}
				<div class="menu_block">
				<div class="users"  onclick="movesUsers('users','right','{{ key }}','{{ widget.option }}', '{{ widget.link }}');">
				{% if widget.option == 0 %}
					Liczba użytkowników online: {{ widget.count }} Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% elseif widget.option == 1 %}
					Liczba użytkowników online: {{ widget.count }}
				{% elseif widget.option == 2 %}
					Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% endif %}
				</div></div>
			{% endif %}
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block menu_footer %}
	<div id="footer"style="width: 660px">
	{% if widgets_footer %}
		<div id="menu_footer">
		{% for key,widget in widgets_footer %}
			{% if widget.type == "menu" %}
				<div class="header_block" style="padding: 0px" onclick="moves('menu','footer','{{ key }}');" title="{{ key }}">
				{% if widget.items %}
					{% for ikey,item in widget.items %}
						<div class="header_menu_block"><a href="javascript:moves('item','footer','{{ ikey }}','{{ key }}','{{ item.value }}');" title="{{ key }}">{{ item.name }}</a></div>
					{% endfor %}
				{% else %}
					<div class="header_menu_block"></div>
				{% endif %}
				</div>
			{% elseif widget.type == "clock" %}
				<div class="header_block" style="padding: 0px">
				<div class="clock" style="color: {{ widget.color }}; {{ widget.style }}" onclick="movesClock('clock','footer','{{ key }}','{{ widget.color }}', '{{ widget.style }}');" title="{{ key }}");" title="{{ key }}"></div></div>
			{% elseif widget.type == "users" %}
				<div class="header_block" style="padding: 0px">
				<div class="users" style="padding: 5px;" onclick="movesUsers('users','footer','{{ key }}','{{ widget.option }}', '{{ widget.link }}');">
				{% if widget.option == 0 %}
					Liczba użytkowników online: {{ widget.count }} Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% elseif widget.option == 1 %}
					Liczba użytkowników online: {{ widget.count }}
				{% elseif widget.option == 2 %}
					Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% endif %}
				</div></div>
			{% endif %}
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block footer %}
	{% if footer %}
		<div class="footer_block">
		{{ footer }}
		</div>
	{% endif %}
	</div>
{% endblock %}