<div class="page_block" style="min-height: 50px; font-size:9px;">
{% include 'AdminMenu.html.twig' %}
</div>
{% if edit_menu %}
	<div class="page_block">
	{% if edit_menu.type == "menu" %}
		Tytuł menu: {{ edit_menu.name }}</br>
		Pozycja: {{ edit_menu.place }}</br>
		Id menu: {{ edit_menu.id }}</br>
		Ranga menu: {{ edit_menu.rank }}</br>
		</br>
		Zmień tytuł:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newname" autocomplete="off" value="{{ edit_menu.name }}">
		<input type="hidden" name="edit" value="name">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="name" value="{{ edit_menu.name }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień pozycję:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newplace" autocomplete="off" value="{{ edit_menu.place }}">
		<input type="hidden" name="edit" value="place">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień Id:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newid" autocomplete="off" value="{{ edit_menu.id }}">
		<input type="hidden" name="edit" value="id">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień rangę:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newrank" autocomplete="off" value="{{ edit_menu.rank }}">
		<input type="hidden" name="edit" value="rank">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="rank" value="{{ edit_menu.rank }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		<form action="/admin/edit_menu" method="POST">
		<input type="submit" value="Usuń">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="edit" value="remove">
		</form></br></br>
		
		<div style="word-break: normal;">Ranga menu oznacza od jakiej rangi użytkownik może widzieć menu:</br>
			1 = Admin,</br>
			2 = Użytkownik,</br>
			3 = Gość,</br>
			4 = Zbanowany.</br>
		Jeżeli ustawiona jest ranga 1 to wszyscy użytkownicy mający rangę mniejszą niż 1 (czyli np. Gość) nie mogą widzieć menu. </br>
		Jeżeli natomiast ustawiona jest ranga 2 to menu mogą widzieć Admin oraz Użytkownik.</br>
		Po najechaniu myszą na menu wyświętli się jego id.</br>
		</br>
		Pozycja menu oznacza gdzie umieszczone jest menu. Dostępne są 4 opcje:</br>
			top = u góry,</br>
			left = po lewej,</br>
			right = po prawej,</br>
			footer = na dole.</br></br>
			
		</div>
	{% elseif edit_menu.type == "item" %}
		Nazwa elementu: {{ edit_menu.name }}</br>
		Pozycja: {{ edit_menu.place }}</br>
		Id menu: {{ edit_menu.menu }}</br>
		Id elementu: {{ edit_menu.id }}</br>
		Ranga elementu: {{ edit_menu.rank }}</br>
		</br>
		Zmień tytuł:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newname" autocomplete="off" value="{{ edit_menu.name }}">
		<input type="hidden" name="edit" value="name">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="menu" value="{{ edit_menu.menu }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="name" value="{{ edit_menu.name }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień adres:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newhref" autocomplete="off" value="{{ edit_menu.href }}">
		<input type="hidden" name="edit" value="href">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="href" value="{{ edit_menu.href }}">
		<input type="hidden" name="menu" value="{{ edit_menu.menu }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="name" value="{{ edit_menu.name }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień Id:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newid" autocomplete="off" value="{{ edit_menu.id }}">
		<input type="hidden" name="edit" value="id">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="menu" value="{{ edit_menu.menu }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień rangę:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newrank" autocomplete="off" value="{{ edit_menu.rank }}">
		<input type="hidden" name="edit" value="rank">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="menu" value="{{ edit_menu.menu }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="rank" value="{{ edit_menu.rank }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		<form action="/admin/edit_menu" method="POST">
		<input type="submit" value="Usuń">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="menu" value="{{ edit_menu.menu }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="edit" value="remove">
		</form></br></br>
		
		<div style="word-break: normal;">Aby zmienić pozycję elementu pierw musisz go usunąć z obecnego menu a następnie dodać w innym menu.</br>
		Ranga elementu oznacza od jakiej rangi użytkownik może widzieć element:</br>
			1 = Admin,</br>
			2 = Użytkownik,</br>
			3 = Gość,</br>
			4 = Zbanowany.</br>
		Jeżeli ustawiona jest ranga 1 to wszyscy użytkownicy mający rangę mniejszą niż 1 (czyli np. Gość) nie mogą widzieć elementu. </br>
		Jeżeli natomiast ustawiona jest ranga 2 to element mogą widzieć Admin oraz Użytkownik.</div>
	{% elseif edit_menu.type == "clock" %}
		Kolor: {{ edit_menu.color }}</br>
		Style: {{ edit_menu.style }}</br>
		Pozycja: {{ edit_menu.place }}</br>
		Id menu: {{ edit_menu.id }}</br>
		Ranga menu: {{ edit_menu.rank }}</br>
		</br>
		Zmień kolor:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newcolor" autocomplete="off" value="{{ edit_menu.color }}">
		<input type="hidden" name="edit" value="color">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="color" value="{{ edit_menu.color }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień style:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newstyle" autocomplete="off" value="{{ edit_menu.style }}">
		<input type="hidden" name="edit" value="style">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="style" value="{{ edit_menu.style }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień pozycję:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newplace" autocomplete="off" value="{{ edit_menu.place }}">
		<input type="hidden" name="edit" value="place">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień Id:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newid" autocomplete="off" value="{{ edit_menu.id }}">
		<input type="hidden" name="edit" value="id">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień rangę:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newrank" autocomplete="off" value="{{ edit_menu.rank }}">
		<input type="hidden" name="edit" value="rank">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="rank" value="{{ edit_menu.rank }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		<form action="/admin/edit_menu" method="POST">
		<input type="submit" value="Usuń">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="edit" value="remove">
		</form></br></br>
		
		<div style="word-break: normal;">Ranga widgetu oznacza od jakiej rangi użytkownik może widzieć widget:</br>
			1 = Admin,</br>
			2 = Użytkownik,</br>
			3 = Gość,</br>
			4 = Zbanowany.</br>
		Jeżeli ustawiona jest ranga 1 to wszyscy użytkownicy mający rangę mniejszą niż 1 (czyli np. Gość) nie mogą widzieć widgetu. </br>
		Jeżeli natomiast ustawiona jest ranga 2 to widget mogą widzieć Admin oraz Użytkownik.</br>
		Po najechaniu myszą na widget wyświętli się jego id.</br>
		</br>
		Pozycja widgetu oznacza gdzie umieszczone jest widget. Dostępne są 4 opcje:</br>
			top = u góry,</br>
			left = po lewej,</br>
			right = po prawej,</br>
			footer = na dole.</br></br>
			
		</div>
	{% elseif edit_menu.type == "users" %}
		Opcja: {{ edit_menu.option }}</br>
		Linkowanie: {{ edit_menu.link }}</br>
		Pozycja: {{ edit_menu.place }}</br>
		Id menu: {{ edit_menu.id }}</br>
		Ranga menu: {{ edit_menu.rank }}</br>
		</br>
		Zmień opcje:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newoption" autocomplete="off" value="{{ edit_menu.option }}">
		<input type="hidden" name="edit" value="option">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="option" value="{{ edit_menu.option }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Linkowanie czyli nazwa użytkownika będzie linkiem do jego profilu (1 = tak albo 0 = nie).</br>
		Zmień linkowanie:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newlink" autocomplete="off" value="{{ edit_menu.link }}">
		<input type="hidden" name="edit" value="link">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="link" value="{{ edit_menu.link }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień pozycję:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newplace" autocomplete="off" value="{{ edit_menu.place }}">
		<input type="hidden" name="edit" value="place">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień Id:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newid" autocomplete="off" value="{{ edit_menu.id }}">
		<input type="hidden" name="edit" value="id">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		Zmień rangę:
		<form action="/admin/edit_menu" method="POST">
		<input type="text" name="newrank" autocomplete="off" value="{{ edit_menu.rank }}">
		<input type="hidden" name="edit" value="rank">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="rank" value="{{ edit_menu.rank }}">
		<input type="submit" value="Wyślij">
		</form></br></br>
		
		<form action="/admin/edit_menu" method="POST">
		<input type="submit" value="Usuń">
		<input type="hidden" name="id" value="{{ edit_menu.id }}">
		<input type="hidden" name="place" value="{{ edit_menu.place }}">
		<input type="hidden" name="type" value="{{ edit_menu.type }}">
		<input type="hidden" name="edit" value="remove">
		</form></br></br>
		
		<div style="word-break: normal;">
		Opcje:</br>
		0 - wyświetlanie liczby oraz uzytkowników online</br>
		1 - wyświetlanie tylko liczby użytkoników online</br>
		2 - wyświetlanie tylko użytkowników online</br>
		
		Ranga widgetu oznacza od jakiej rangi użytkownik może widzieć widget:</br>
			1 = Admin,</br>
			2 = Użytkownik,</br>
			3 = Gość,</br>
			4 = Zbanowany.</br>
		Jeżeli ustawiona jest ranga 1 to wszyscy użytkownicy mający rangę mniejszą niż 1 (czyli np. Gość) nie mogą widzieć widgetu. </br>
		Jeżeli natomiast ustawiona jest ranga 2 to widget mogą widzieć Admin oraz Użytkownik.</br>
		Po najechaniu myszą na widget wyświętli się jego id.</br>
		</br>
		Pozycja widgetu oznacza gdzie umieszczone jest widget. Dostępne są 4 opcje:</br>
			top = u góry,</br>
			left = po lewej,</br>
			right = po prawej,</br>
			footer = na dole.</br></br>
			
		</div>
	{% endif %}
	</div>
{% else %}
	<div class="page_block">
	Dodaj:
	<form action="/admin/edit_menu" method="POST">
	<select name="add">
	<option value="menu">Menu</option>
	<option value="item">Element Menu</option>
	<option value="clock">Zegar</option>
	<option value="users">Użytkownicy online</option>
	</select>
	<input type="submit" value="Wyślij">
	</form></br>
	<div style="word-break: normal;">
	Kliknij w menu lub w element menu lub w wiget aby go edytować!
	</div>
	</div>
{% endif %}