<div class="page_block" style="min-height: 50px;">
	<form action="{{ form.action }}" method="{{ form.method }}" style="{{ form.style }}" class="{{ form.class }}">
	{% for input in form.inputs %}
		{% if input.html == "textarea" %}
			<div style="{{ input.titleStyle }}" class="{{ input.titleClass }}">{{ input.title }}</div>
			<div style="{{ input.divStyle }}" class="{{ input.divClass }}"><{{ input.html }} type="{{ input.type }}" name="{{ input.name }}">{{ input.value }}</{{ input.html }}></div>
		{% else %}
			<div style="{{ input.titleStyle }}" class="{{ input.titleClass }}">{{ input.title }}</div>
			<div style="{{ input.divStyle }}" class="{{ input.divClass }}"><{{ input.html }} type="{{ input.type }}" name="{{ input.name }}" value="{{ input.value }}"></{{ input.html }}></div>
		{% endif %}
	{% endfor %}
	<input type="submit" value="Wyślij">
	</form>
</div>