{% extends "Base.html.twig" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="CSS/style.css" />
{% endblock %}

{% block title %}
	{{ text }}
{% endblock %}

{% block header %}
	<div id="header">
	{% if login_panel.logged %}
		<div class="header_block" style="text-align: right;"><a href="{{ login_panel.user_panel }}">{{ login_panel.user }}</a> <a href="{{ login_panel.logout }}">Wyloguj</a></div>
	{% else %}
		<div class="header_block" style="text-align: right;"><a href="{{ login_panel.register }}">Zarejstruj się</a> <a href="{{ login_panel.login }}">Zaloguj się</a></div>
	{% endif %}
	</div>
{% endblock %}

{% block menu_left %}
	{% if menus_left %}
		<div id="menu_left">
		{% for menu in menus_left %}
			<div class="menu_block">
				<div id="menu_header">
					{{ menu.title }}
				</div>
				{% for item in menu.items %}
					<a href="{{ item.value }}">{{ item.name }}</a></br>
				{% endfor %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block page %}
	<div id="main_page">
	
	{% if message is defined %}
		<div class="page_block" style="min-height: 50px;">
		{{ message }}
		</div>
		
	{% elseif form is defined %}
	
		<div class="page_block" style="min-height: 50px;">
		<form action="{{ form.action }}" method="{{ form.method }}" style="{{ form.style }}" class="{{ form.class }}">
		{% for input in form.inputs %}
			{% if input.html == "textarea" %}
				<div style="{{ input.titleStyle }}" class="{{ input.titleClass }}">{{ input.title }}</div>
				<div style="{{ input.divStyle }}" class="{{ input.divClass }}"><{{ input.html }} type="{{ input.type }}" name="{{ input.name }}">{{ input.value }}</{{ input.html }}></div>
			{% else %}
				<div style="{{ input.titleStyle }}" class="{{ input.titleClass }}">{{ input.title }}</div>
				<div style="{{ input.divStyle }}" class="{{ input.divClass }}"><{{ input.html }} type="{{ input.type }}" name="{{ input.name }}" value="{{ input.value }}"></{{ input.html }}></div>
			{% endif %}
		{% endfor %}
		<input type="submit" value="Wyślij">
		</form>
		
		
	{% elseif main_page is defined %}
	
	
		<div class="page_block" style="min-height: 50px;">
		<div style="display: inline-block; float: left;">Sortowanie: <form method="GET">
		<input type="hidden" name="action" value="show" /><select name="order" onchange="move(this.value)">
		<option value="date">Data</option><option value="title">Tytuł</option><option value="text">Tekst</option><option value="author">Autor</option>
		</select><input type="submit" value="Wybierz"></form></div></div>
		{% for post in main_page %}
			<div class="page_block">
				<div class="post_author">Autor: <a href="?page=user&user={{ post.authorid }}&action=show">{{ post.author }}</a></div>
				<div class="post_date"><a href="?action=show&only={{ post.id }}">{{ post.date }}</a></div></br>
				<div class="post_title"><a href="?action=show&only={{ post.id }}"><h2>{{ post.title }}</h2></a></div></br>
				{{ post.text }}</br>
				<div class='post_footer'><a href="?action=editpost&only={{ post.id }}">Edytuj</a>
				<script>function deletes(postid) {
							if(!confirm("Czy na pewno chcesz usunąć ten post?")) {
							} else {
								location.replace("?action=remove&id="+postid);
							}
						}
				</script>
				<a href="javascript:deletes('{{ post.id }}');">Usuń</a></div>
			</div>
		{% endfor %}
		
		
	{% elseif post is defined %}
	
	
		<div class="page_block">
			<div class="post_author">Autor: <a href="?page=user&user={{ post.authorid }}&action=show">{{ post.author }}</a></div>
			<div class="post_date"><a href="?action=show&only={{ post.id }}">{{ post.date }}</a></div></br>
			<div class="post_title"><a href="?action=show&only={{ post.id }}"><h2>{{ post.title }}</h2></a></div></br>
			{{ post.text }}</br>
			<div class='post_footer'><a href="?action=editpost&only={{ post.id }}">Edytuj</a>
			<script>function deletes(postid) {
						if(!confirm("Czy na pewno chcesz usunąć ten post?")) {
						} else {
							location.replace("?action=remove&id="+postid);
						}
					}
			</script>
			<a href="javascript:deletes('{{ post.id }}');">Usuń</a></div>
			</br><div style='color: #3a95d1; font-size: 25px;'>Komentarze: </div></br>
			{% if login_panel.user is defined %}
			<script>function check() {
				nick = document.forms["create_com"]["text"].value;
				if(nick == null || nick == "") {
					alert("Napisz coś!");
					return false;
				}
				return true;
			}</script>
			Treść:</br>
			<center><form name="create_com" action="?action=addcom&only={{ post.id }}" method="POST" onsubmit="return check()">
			<textarea class="com_text_edit" name="text" ></textarea></br>
			<input type="hidden" name="id" value="{{ post.id }}">
			<input type="submit" value="Wyślij"/></form></center>
			{% endif %}
			<div id="comments">
			{% for comment in post.comments %}
				<div class='comment'>
				<div class='com_author'>Autor: <a href="?page=user&user={{ comment.author }}&action=show">{{ comment.nick }}</a></div>
				<div class='com_date'>{{ comment.date }}</div></br>
				<div class='com_text'>{{ comment.text }}
				{% if rank == 1 %}
					<div class='com_footer'><script>function delete_com(id) {
						if(!confirm("Czy na pewno chcesz usunąć ten komentarz?")) {
						} else {
							location.replace("?action=removecom&comid={{ comment.id }}&only={{ post.id }}");
						}
					}</script>
					<input type='button' onclick="javascript:delete_com({{ comment.id }});" value='Usuń'>
				{% endif %}
				</div></div>
			{% endfor %}
			</div>
		</div>
	{% endif %}
	</div>
{% endblock %}

{% block menu_right %}
	{% if menus_right %}
		<div id="menu_right">
		{% for menu in menus_right %}
			<div class="menu_block"></div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block footer %}
	{% if footer %}
		<div id="footer">
		<div class="footer_block">
		{{ footer }}
		</div>
		</div>
	{% endif %}
{% endblock %}