{% extends "Base.html.twig" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/CSS/style.css" />
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block header %}
	<div id="header">
	{% if login_panel.logged %}
		<div class="header_block" style="text-align: right;"><a href="{{ login_panel.user_panel }}">{{ login_panel.user }}</a> <a href="{{ login_panel.logout }}">Wyloguj</a></div>
	{% else %}
		<div class="header_block" style="text-align: right;"><a href="{{ login_panel.register }}">Zarejstruj się</a> <a href="{{ login_panel.login }}">Zaloguj się</a></div>
	{% endif %}
{% endblock %}

{% block menu_top %}
	{% if menus_top %}
		<div id="menu_top">
		{% for menu in menus_top %}
			<div class="header_block" style="padding: 0px">
				{% for item in menu.items %}
					<div class="header_menu_block"><a href="{{ item.value }}">{{ item.name }}</a></div>
				{% endfor %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
	</div>
{% endblock %}

{% block menu_left %}
	{% if menus_left %}
		<div id="menu_left">
		{% for menu in menus_left %}
			<div class="menu_block">
				<div id="menu_header">
					{{ menu.title }}
				</div>
				{% for item in menu.items %}
					<a href="{{ item.value }}">{{ item.name }}</a></br>
				{% endfor %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block page %}
	{% if menus_left and menus_right %}
		<div id="main_page" style="width: calc(69% + 3px)">
	{% else %}
		<div id="main_page">
	{% endif %}
	{% if message is defined %}
		<div class="page_block" style="min-height: 50px;">
		{{ message }}
		</div>
	{% elseif form is defined %}
		{% include 'Form.html.twig' %}
	{% elseif main_page is defined %}
		<div class="page_block" style="min-height: 50px;">
		<div style="display: inline-block; float: left;">Sortowanie: <form action="/show" method="POST">
		<select name="order" onchange="location.replace('/show/'+this.value)">
		<option value="date">Data</option>
		<option value="title">Tytuł</option>
		<option value="text">Tekst</option>
		<option value="author">Autor</option>
		</select><input type="submit" value="Wybierz"></form></div></div>
		{% for post in main_page %}
			<div class="page_block">
				<div class="post_author">Autor: <a href="/user/show/{{ post.authorid }}">{{ post.author }}</a></div>
				<div class="post_date"><a href="/post/{{ post.id }}">{{ post.date }}</a></div></br>
				<div class="post_title"><a href="/post/{{ post.id }}"><h2>{{ post.title }}</h2></a></div></br>
				{{ post.text|raw }}</br>
				{% if rank == 1 %}
				<div class='post_footer'><a href="/post/edit/{{ post.id }}">Edytuj</a>
				<script>function deletes(postid) {
							if(!confirm("Czy na pewno chcesz usunąć ten post?")) {
							} else {
								location.replace("/post/remove/"+postid);
							}
						}
				</script>
				<a href="javascript:deletes('{{ post.id }}');">Usuń</a></div>
				{% endif %}
			</div>
		{% endfor %}
	{% elseif post is defined %}
		{% include 'Post.html.twig' %}
	{% elseif user is defined %}
		{% include 'User.html.twig' %}
	{% elseif table is defined %}
		<div class="page_block">
		<script>{{ table.js|raw }}</script>
		{% include 'Table.html.twig' %}
		</div>
	{% elseif edit_menu is defined %}
		<div class="page_block" style="min-height: 50px; font-size:9px;">
		{% include 'AdminMenu.html.twig' %}
		{% if edit_menu %}
			{% if edit_menu.type == "menu" %}
				<form action="/admin/edit_menu" method="POST">
				Tytuł menu: {{ edit_menu.name }}</br>
				Pozycja: {{ edit_menu.place }}</br>
				Id menu: {{ edit_menu.id }}</br>
				Ranga menu: {{ edit_menu.rank }}</br>
				</br>
				Zmień tytuł:
				<input type="text" name="name" value="{{ edit_menu.name }}">
				Zmień pozycję:
				<input type="text" name="new_place" value="{{ edit_menu.place }}">
				Zmień Id:
				<input type="text" name="new_id" value="{{ edit_menu.id }}">
				Zmień rangę:
				<input type="text" name="rank" value="{{ edit_menu.rank }}">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="edit" value="edit">
				<input type="submit" value="Wyślij">
				</form>
				<form action="/admin/edit_menu" method="POST">
				<input type="submit" value="Usuń">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="remove" value="remove">
				</form>
			{% elseif edit_menu.type == "item" %}
			
			{% endif %}
		{% else %}
			Dodaj:
			<form action="/admin/edit_menu" method="POST">
			<select name="type">
			<option value="menu">Menu</option>
			<option value="item">Element Menu</option>
			<option value="widget">Widżet</option>
			</select>
			<input type="hidden" name="add" value="add">
			<input type="submit" value="Wyślij">
			</form>
		{% endif %}
		</div>
	{% endif %}
	</div>
{% endblock %}

{% block menu_right %}
	{% if menus_right %}
		<div id="menu_right">
		{% for menu in menus_right %}
			<div class="menu_block">
				<div id="menu_header">
					{{ menu.title }}
				</div>
				{% for item in menu.items %}
					<a href="{{ item.value }}">{{ item.name }}</a></br>
				{% endfor %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block menu_footer %}
	<div id="footer">
	{% if menus_footer %}
		<div id="menu_footer">
		{% for menu in menus_footer %}
			<div class="header_block" style="padding: 0px">
				{% for item in menu.items %}
					<div class="header_menu_block"><a href="{{ item.value }}">{{ item.name }}</a></div>
				{% endfor %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block footer %}
	{% if footer %}
		<div class="footer_block">
		{{ footer }}
		</div>
	{% endif %}
	</div>
{% endblock %}