{% extends "Base.html.twig" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/CSS/style.css">
	<script type="text/javascript" src="/Js/Widgets.js">
	</script>
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block header %}
	<div id="header">
	{% if login_panel.logged %}
		<div class="header_block" style="text-align: right;">{% if logo %}<a href="/"><center><img src="{{ logo }}"></center></a>{% endif %}<a href="{{ login_panel.user_panel }}">{{ login_panel.user }}</a> <a href="{{ login_panel.logout }}">Wyloguj</a></div>
	{% else %}
		<div class="header_block" style="text-align: right;">{% if logo %}<a href="/"><center><img src="{{ logo }}"></center></a>{% endif %}<a href="{{ login_panel.register }}">Zarejstruj się</a> <a href="{{ login_panel.login }}">Zaloguj się</a></div>
	{% endif %}
{% endblock %}

{% block menu_top %}
	{% if widgets_top %}
		<div id="menu_top">
		{% for widget in widgets_top %}
			<div class="header_block" style="padding: 0px">
			{% if widget.type == "menu" %}
				{% for item in widget.items %}
					<div class="header_menu_block"><a href="{{ item.value }}">{{ item.name }}</a></div>
				{% endfor %}
			{% elseif widget.type == "clock" %}
				<div class="clock" style="color: {{ widget.color }}; {{ widget.style }}"></div>
			{% elseif widget.type == "users" %}
				<div class="users" style="padding: 5px;">
				{% if widget.option == 0 %}
					Liczba użytkowników online: {{ widget.count }} Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% elseif widget.option == 1 %}
					Liczba użytkowników online: {{ widget.count }}
				{% elseif widget.option == 2 %}
					Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% endif %}
				</div>
			{% endif %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
	</div>
{% endblock %}

{% block menu_left %}
	{% if widgets_left %}
		<div id="menu_left">
		{% for widget in widgets_left %}
			<div class="menu_block">
			{% if widget.type == "menu" %}
				<div id="menu_header">
					{{ widget.title }}
				</div>
				{% for item in widget.items %}
					<a href="{{ item.value }}">{{ item.name }}</a></br>
				{% endfor %}
			{% elseif widget.type == "clock" %}
				<div class="clock" style="color: {{ widget.color }}; {{ widget.style }}"></div>
			{% elseif widget.type == "users" %}
				<div class="users">
				{% if widget.option == 0 %}
					Liczba użytkowników online: {{ widget.count }} Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% elseif widget.option == 1 %}
					Liczba użytkowników online: {{ widget.count }}
				{% elseif widget.option == 2 %}
					Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link == 1 %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% endif %}
				</div>
			{% endif %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block page %}
	{% if widgets_left and widgets_right %}
		<div id="main_page" style="width: 900px">
	{% elseif (widgets_left or widgets_right) %}
		<div id="main_page">
	{% else %}
		<div id="main_page" style="width: 1200px">
	{% endif %}
	{% if message is defined %}
		<div class="page_block" style="min-height: 50px;">
		{{ message }}
		</div>
	{% elseif form is defined %}
		{% include 'Form.html.twig' %}
	{% elseif main_page is defined %}
		<div class="page_block" style="min-height: 50px;">
		<div style="display: inline-block; float: left;">Sortowanie: <form action="/show" method="POST">
		<select name="order" onchange="location.replace('/show/'+this.value)">
		<option value="date">Data</option>
		<option value="title">Tytuł</option>
		<option value="text">Tekst</option>
		<option value="author">Autor</option>
		</select><input type="submit" value="Wybierz"></form></div></div>
		{% for post in main_page %}
			<div class="page_block">
				<div class="post_author">Autor: <a href="/user/show/{{ post.authorid }}">{{ post.author }}</a></div>
				<div class="post_date"><a href="/post/{{ post.id }}">{{ post.date }}</a></div></br>
				<div class="post_title"><a href="/post/{{ post.id }}"><h2>{{ post.title }}</h2></a></div></br>
				{{ post.text|raw }}</br>
				{% if rank == 1 %}
				<div class='post_footer'><a href="/post/edit/{{ post.id }}">Edytuj</a>
				<script>function deletes(postid) {
							if(!confirm("Czy na pewno chcesz usunąć ten post?")) {
							} else {
								location.replace("/post/remove/"+postid);
							}
						}
				</script>
				<a href="javascript:deletes('{{ post.id }}');">Usuń</a></div>
				{% endif %}
			</div>
		{% endfor %}
	{% elseif post is defined %}
		{% include 'Post.html.twig' %}
	{% elseif user is defined %}
		{% include 'User.html.twig' %}
	{% elseif table is defined %}
		<script type="text/javascript">{{ table.js }}</script>
		<div class="page_block">
		{% include 'Table.html.twig' %}
		</div>
	{% elseif edit_menu is defined %}
		{% include 'EditMenu.html.twig' %}
	{% endif %}
	</div>
{% endblock %}

{% block menu_right %}
	{% if widgets_right %}
		<div id="menu_right">
		{% for widget in widgets_right %}
			<div class="menu_block">
			{% if widget.type == "menu" %}
				<div id="menu_header">
					{{ widget.title }}
				</div>
				{% for item in widget.items %}
					<a href="{{ item.value }}">{{ item.name }}</a></br>
				{% endfor %}
			{% elseif widget.type == "clock" %}
				<div class="clock" style="color: {{ widget.color }}; {{ widget.style }}"></div>
			{% elseif widget.type == "users" %}
				<div class="users">
				{% if widget.option == 0 %}
					Liczba użytkowników online: {{ widget.count }} Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% elseif widget.option == 1 %}
					Liczba użytkowników online: {{ widget.count }}
				{% elseif widget.option == 2 %}
					Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %} 
					{% endfor %}
				{% endif %}
				</div>
			{% endif %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block menu_footer %}
	<div id="footer">
	{% if widgets_footer %}
		<div id="menu_footer">
		{% for widget in widgets_footer %}
			<div class="header_block" style="padding: 0px">
			{% if widget.type == "menu" %}
				{% for item in widget.items %}
					<div class="header_menu_block"><a href="{{ item.value }}">{{ item.name }}</a></div>
				{% endfor %}
			{% elseif widget.type == "clock" %}
				<div class="clock" style="color: {{ widget.color }}; {{ widget.style }}"></div>
			{% elseif widget.type == "users" %}
				<div class="users" style="padding: 5px;">
				{% if widget.option == 0 %}
					Liczba użytkowników online: {{ widget.count }} Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %} 
					{% endfor %}
				{% elseif widget.option == 1 %}
					Liczba użytkowników online: {{ widget.count }}
				{% elseif widget.option == 2 %}
					Użytkownicy Online: 
					{% for user in widget.users %}
						{% if widget.link %}
							<a href="/user/show/{{ user.id }}">{{ user.nick }}</a>, 
						{% else %}
							{{ user.nick }},
						{% endif %}
					{% endfor %}
				{% endif %}
				</div>
			{% endif %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block footer %}
	{% if footer %}
		<div class="footer_block">
		{{ footer }}
		</div>
	{% endif %}
	</div>
{% endblock %}