{% extends "Base.html.twig" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/CSS/style.css" />
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block header %}
	<div id="header">
	{% if login_panel.logged %}
		<div class="header_block" style="text-align: right;">{% if logo %}<a href="/"><center><img src="{{ logo }}"></center></a>{% endif %}<a href="{{ login_panel.user_panel }}">{{ login_panel.user }}</a> <a href="{{ login_panel.logout }}">Wyloguj</a></div>
	{% else %}
		<div class="header_block" style="text-align: right;">{% if logo %}<a href="/"><center><img src="{{ logo }}"></center></a>{% endif %}<a href="{{ login_panel.register }}">Zarejstruj się</a> <a href="{{ login_panel.login }}">Zaloguj się</a></div>
	{% endif %}
{% endblock %}

{% block menu_top %}
	{% if widgets_top %}
		<div id="menu_top">
		{% for menu in widgets_top %}
			<div class="header_block" style="padding: 0px">
				{% for item in menu.items %}
					<div class="header_menu_block"><a href="{{ item.value }}">{{ item.name }}</a></div>
				{% endfor %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
	</div>
{% endblock %}

{% block menu_left %}
	{% if widgets_left %}
		<div id="menu_left">
		{% for menu in widgets_left %}
			<div class="menu_block">
				<div id="menu_header">
					{{ menu.title }}
				</div>
				{% for item in menu.items %}
					<a href="{{ item.value }}">{{ item.name }}</a></br>
				{% endfor %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block page %}
	{% if widgets_left and widgets_right %}
		<div id="main_page" style="width: calc(69% + 3px)">
	{% else %}
		<div id="main_page">
	{% endif %}
	{% if message is defined %}
		<div class="page_block" style="min-height: 50px;">
		{{ message }}
		</div>
	{% elseif form is defined %}
		{% include 'Form.html.twig' %}
	{% elseif main_page is defined %}
		<div class="page_block" style="min-height: 50px;">
		<div style="display: inline-block; float: left;">Sortowanie: <form action="/show" method="POST">
		<select name="order" onchange="location.replace('/show/'+this.value)">
		<option value="date">Data</option>
		<option value="title">Tytuł</option>
		<option value="text">Tekst</option>
		<option value="author">Autor</option>
		</select><input type="submit" value="Wybierz"></form></div></div>
		{% for post in main_page %}
			<div class="page_block">
				<div class="post_author">Autor: <a href="/user/show/{{ post.authorid }}">{{ post.author }}</a></div>
				<div class="post_date"><a href="/post/{{ post.id }}">{{ post.date }}</a></div></br>
				<div class="post_title"><a href="/post/{{ post.id }}"><h2>{{ post.title }}</h2></a></div></br>
				{{ post.text|raw }}</br>
				{% if rank == 1 %}
				<div class='post_footer'><a href="/post/edit/{{ post.id }}">Edytuj</a>
				<script>function deletes(postid) {
							if(!confirm("Czy na pewno chcesz usunąć ten post?")) {
							} else {
								location.replace("/post/remove/"+postid);
							}
						}
				</script>
				<a href="javascript:deletes('{{ post.id }}');">Usuń</a></div>
				{% endif %}
			</div>
		{% endfor %}
	{% elseif post is defined %}
		{% include 'Post.html.twig' %}
	{% elseif user is defined %}
		{% include 'User.html.twig' %}
	{% elseif table is defined %}
		<div class="page_block">
		<script>{{ table.js|raw }}</script>
		{% include 'Table.html.twig' %}
		</div>
	{% elseif edit_menu is defined %}
		<div class="page_block" style="min-height: 50px; font-size:9px;">
		{% include 'AdminMenu.html.twig' %}
		</div>
		{% if edit_menu %}
			<div class="page_block">
			{% if edit_menu.type == "menu" %}
				Tytuł menu: {{ edit_menu.name }}</br>
				Pozycja: {{ edit_menu.place }}</br>
				Id menu: {{ edit_menu.id }}</br>
				Ranga menu: {{ edit_menu.rank }}</br>
				</br>
				Zmień tytuł:
				<form action="/admin/edit_menu" method="POST">
				<input type="text" name="newname" autocomplete="off" value="{{ edit_menu.name }}">
				<input type="hidden" name="edit" value="name">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="hidden" name="name" value="{{ edit_menu.name }}">
				<input type="submit" value="Wyślij">
				</form>
				
				Zmień pozycję:
				<form action="/admin/edit_menu" method="POST">
				<input type="text" name="newplace" autocomplete="off" value="{{ edit_menu.place }}">
				<input type="hidden" name="edit" value="place">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="submit" value="Wyślij">
				</form>
				
				Zmień Id:
				<form action="/admin/edit_menu" method="POST">
				<input type="text" name="newid" autocomplete="off" value="{{ edit_menu.id }}">
				<input type="hidden" name="edit" value="id">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="submit" value="Wyślij">
				</form>
				
				Zmień rangę:
				<form action="/admin/edit_menu" method="POST">
				<input type="text" name="newrank" autocomplete="off" value="{{ edit_menu.rank }}">
				<input type="hidden" name="edit" value="rank">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="hidden" name="rank" value="{{ edit_menu.rank }}">
				<input type="submit" value="Wyślij">
				</form>
				
				<form action="/admin/edit_menu" method="POST">
				<input type="submit" value="Usuń">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="hidden" name="edit" value="remove">
				</form>
				
				<div style="word-break: normal;">Ranga menu oznacza od jakiej rangi użytkownik może przeglądać menu:</br>
					1 = Admin,</br>
					2 = Użytkownik,</br>
					3 = Gość,</br>
					4 = Zbanowany.</br>
				Jeżeli ustawiona jest ranga 1 to wszyscy użytkownicy mający rangę mniejszą niż 1 (czyli np. Gość) nie mogą przeglądać menu. </br>
				Jeżeli natomiast ustawiona jest ranga 2 to menu mogą przeglądać Admin oraz Użytkownik.</br>
				Po najechaniu myszą na menu wyświętli się jego id.</br>
				</br>
				Pozycja menu oznacza gdzie umieszczone jest menu. Dostępne są 4 opcje:</br>
					top = u góry,</br>
					left = po lewej,</br>
					right = po prawej,</br>
					footer = na dole.</br></br>
					
				</div>
			{% elseif edit_menu.type == "item" %}
				Nazwa elementu: {{ edit_menu.name }}</br>
				Pozycja: {{ edit_menu.place }}</br>
				Id menu: {{ edit_menu.menu }}</br>
				Id elementu: {{ edit_menu.id }}</br>
				Ranga elementu: {{ edit_menu.rank }}</br>
				</br>
				Zmień tytuł:
				<form action="/admin/edit_menu" method="POST">
				<input type="text" name="newname" autocomplete="off" value="{{ edit_menu.name }}">
				<input type="hidden" name="edit" value="name">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="menu" value="{{ edit_menu.menu }}">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="hidden" name="name" value="{{ edit_menu.name }}">
				<input type="submit" value="Wyślij">
				</form>
				
				Zmień adres:
				<form action="/admin/edit_menu" method="POST">
				<input type="text" name="newhref" autocomplete="off" value="{{ edit_menu.href }}">
				<input type="hidden" name="edit" value="href">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="href" value="{{ edit_menu.href }}">
				<input type="hidden" name="menu" value="{{ edit_menu.menu }}">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="hidden" name="name" value="{{ edit_menu.name }}">
				<input type="submit" value="Wyślij">
				</form>
				
				Zmień Id:
				<form action="/admin/edit_menu" method="POST">
				<input type="text" name="newid" autocomplete="off" value="{{ edit_menu.id }}">
				<input type="hidden" name="edit" value="id">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="menu" value="{{ edit_menu.menu }}">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="submit" value="Wyślij">
				</form>
				
				Zmień rangę:
				<form action="/admin/edit_menu" method="POST">
				<input type="text" name="newrank" autocomplete="off" value="{{ edit_menu.rank }}">
				<input type="hidden" name="edit" value="rank">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="menu" value="{{ edit_menu.menu }}">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="hidden" name="rank" value="{{ edit_menu.rank }}">
				<input type="submit" value="Wyślij">
				</form>
				
				<form action="/admin/edit_menu" method="POST">
				<input type="submit" value="Usuń">
				<input type="hidden" name="id" value="{{ edit_menu.id }}">
				<input type="hidden" name="menu" value="{{ edit_menu.menu }}">
				<input type="hidden" name="place" value="{{ edit_menu.place }}">
				<input type="hidden" name="type" value="{{ edit_menu.type }}">
				<input type="hidden" name="edit" value="remove">
				</form>
				
				<div style="word-break: normal;">Aby zmienić pozycję elementu pierw musisz go usunąć z obecnego menu a następnie dodać w innym menu.</br>
				Ranga elementu oznacza od jakiej rangi użytkownik może widzieć element:</br>
					1 = Admin,</br>
					2 = Użytkownik,</br>
					3 = Gość,</br>
					4 = Zbanowany.</br>
				Jeżeli ustawiona jest ranga 1 to wszyscy użytkownicy mający rangę mniejszą niż 1 (czyli np. Gość) nie mogą widzieć elementu. </br>
				Jeżeli natomiast ustawiona jest ranga 2 to element mogą widzieć Admin oraz Użytkownik.</div>
			{% endif %}
			</div>
		{% else %}
			<div class="page_block">
			Dodaj:
			<form action="/admin/edit_menu" method="POST">
			<select name="add">
			<option value="menu">Menu</option>
			<option value="item">Element Menu</option>
			<option value="widget">Widżet</option>
			</select>
			<input type="submit" value="Wyślij">
			</form></br>
			<div style="word-break: normal;">
			Kliknij w menu lub w element menu lub w wiget aby go edytować!
			</div>
			</div>
		{% endif %}
		</div>
	{% endif %}
	</div>
{% endblock %}

{% block menu_right %}
	{% if widgets_right %}
		<div id="menu_right">
		{% for widget in widgets_right %}
			<div class="menu_block">
			{% if widget.type == "menu" %}
				<div id="menu_header">
					{{ widget.title }}
				</div>
				{% for item in widget.items %}
					<a href="{{ item.value }}">{{ item.name }}</a></br>
				{% endfor %}
			{% elseif widget.type == "clock" %}
				<center><b>{{ widget.time }}</b></center>
			{% endif %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block menu_footer %}
	<div id="footer">
	{% if widgets_footer %}
		<div id="menu_footer">
		{% for menu in widgets_footer %}
			<div class="header_block" style="padding: 0px">
				{% for item in menu.items %}
					<div class="header_menu_block"><a href="{{ item.value }}">{{ item.name }}</a></div>
				{% endfor %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block footer %}
	{% if footer %}
		<div class="footer_block">
		{{ footer }}
		</div>
	{% endif %}
	</div>
{% endblock %}