{% extends "Base.html.twig" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/CSS/style.css" />
{% endblock %}

{% block title %}
	{{ text }}
{% endblock %}

{% block header %}
	<div id="header">
	{% if login_panel.logged %}
		<div class="header_block" style="text-align: right;"><a href="{{ login_panel.user_panel }}">{{ login_panel.user }}</a> <a href="{{ login_panel.logout }}">Wyloguj</a></div>
	{% else %}
		<div class="header_block" style="text-align: right;"><a href="{{ login_panel.register }}">Zarejstruj się</a> <a href="{{ login_panel.login }}">Zaloguj się</a></div>
	{% endif %}
	</div>
{% endblock %}

{% block menu_left %}
	{% if menus_left %}
		<div id="menu_left">
		{% for menu in menus_left %}
			<div class="menu_block">
				<div id="menu_header">
					{{ menu.title }}
				</div>
				{% for item in menu.items %}
					<a href="{{ item.value }}">{{ item.name }}</a></br>
				{% endfor %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block page %}
	<div id="main_page">
	{% if message is defined %}
		<div class="page_block" style="min-height: 50px;">
		{{ message }}
		</div>
	{% elseif form is defined %}
		{% include 'Form.html.twig' %}
	{% elseif main_page is defined %}
		<div class="page_block" style="min-height: 50px;">
		<div style="display: inline-block; float: left;">Sortowanie: <form action="/show" method="POST">
		<select name="order" onchange="location.replace('/show/'+this.value)">
		<option value="date">Data</option>
		<option value="title">Tytuł</option>
		<option value="text">Tekst</option>
		<option value="author">Autor</option>
		</select><input type="submit" value="Wybierz"></form></div></div>
		{% for post in main_page %}
			<div class="page_block">
				<div class="post_author">Autor: <a href="/user/show/{{ post.authorid }}">{{ post.author }}</a></div>
				<div class="post_date"><a href="/post/{{ post.id }}">{{ post.date }}</a></div></br>
				<div class="post_title"><a href="/post/{{ post.id }}"><h2>{{ post.title }}</h2></a></div></br>
				{{ post.text|raw }}</br>
				{% if rank == 1 %}
				<div class='post_footer'><a href="/post/edit/{{ post.id }}">Edytuj</a>
				<script>function deletes(postid) {
							if(!confirm("Czy na pewno chcesz usunąć ten post?")) {
							} else {
								location.replace("/post/remove/"+postid);
							}
						}
				</script>
				<a href="javascript:deletes('{{ post.id }}');">Usuń</a></div>
				{% endif %}
			</div>
		{% endfor %}
	{% elseif post is defined %}
		{% include 'Post.html.twig' %}
	{% elseif user is defined %}
		{% include 'User.html.twig' %}
	{% elseif table is defined %}
		{% include 'Table.html.twig' %}
	{% endif %}
	</div>
{% endblock %}

{% block menu_right %}
	{% if menus_right %}
		<div id="menu_right">
		{% for menu in menus_right %}
			<div class="menu_block"></div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block footer %}
	{% if footer %}
		<div id="footer">
		<div class="footer_block">
		{{ footer }}
		</div>
		</div>
	{% endif %}
{% endblock %}