{% extends "Base.html.twig" %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="CSS/style.css" />
{% endblock %}
{% block title %}
{{ text }}
{% endblock %}
{% block header %}
{% if login_panel.logged %}
<div class="header_block" style="text-align: right;"><a href="{{ login_panel.user_panel }}">{{ login_panel.user }}</a> <a href="{{ login_panel.logout }}">Wyloguj</a></div>
{% else %}
<div class="header_block" style="text-align: right;"><a href="{{ login_panel.register }}">Zarejstruj się</a> <a href="{{ login_panel.login }}">Zaloguj się</a></div>
{% endif %}
{% endblock %}
{% block menu_left %}<div class="menu_block">a</div>{% endblock %}
{% block page %}<div class="page_block">b</div>{% endblock %}
{% block menu_right %}<div class="menu_block"></div>{% endblock %}
{% block footer %}<div class="footer_block"></div>{% endblock %}