{% extends "Base.html.twig" %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="CSS/style.css" />
{% block title %}
{{ text }}
{% endblock %}
{% endblock %}
{% block header %}
{% if login_panel.logged %}
<div class="header_block" style="text-align: right;"><a href="{{ login_panel.user_panel }}">{{ login_panel.user }}</a> <a href="{{ login_panel.logout }}">Wyloguj</a></div>
{% else %}
<div class="header_block" style="text-align: right;"><a href="{{ login_panel.register }}">Zarejstruj się</a> <a href="{{ login_panel.login }}">Zaloguj się</a></div>
{% endif %}
{% endblock %}
{% block menu_left %}a{% endblock %}
{% block page %}b{% endblock %}
{% block menu_right %}c{% endblock %}
{% block footer %}d{% endblock %}