<div class="page_block">
	<div class="post_author">Autor: <a href="/user/show/{{ post.authorid }}">{{ post.author }}</a></div>
	<div class="post_date"><a href="/post/{{ post.id }}">{{ post.date }}</a></div></br>
	<div class="post_title"><a href="/post/{{ post.id }}"><h2>{{ post.title }}</h2></a></div></br>
	{{ post.text|raw }}</br>
	<div class='post_footer'><a href="/post/edit/{{ post.id }}">Edytuj</a>
	<script>function deletes(postid) {
				if(!confirm("Czy na pewno chcesz usunąć ten post?")) {
				} else {
					location.replace("/post/remove/"+postid);
				}
			}
	</script>
	<a href="javascript:deletes('{{ post.id }}');">Usuń</a></div>
	</br><div style='color: #3a95d1; font-size: 25px;'>Komentarze: </div></br>
	{% if login_panel.user is defined %}
	<script>function check() {
		nick = document.forms["create_com"]["text"].value;
		if(nick == null || nick == "") {
			alert("Napisz coś!");
			return false;
		}
		return true;
	}</script>
	Treść:</br>
	<center><form name="create_com" action="/comment/add/{{ post.id }}" method="POST" onsubmit="return check()">
	<textarea class="com_text_edit" name="text" ></textarea></br>
	<input type="hidden" name="id" value="{{ post.id }}">
	<input type="submit" value="Wyślij"/></form></center>
	{% endif %}
	{% if post.comments %}
	<div id="comments">
	{% for comment in post.comments %}
		<div class='comment'>
		<div class='com_author'>Autor: <a href="/user/show/{{ comment.author }}">{{ comment.nick }}</a></div>
		<div class='com_date'>{{ comment.date }}</div></br>
		<div class='com_text'>{{ comment.text|raw }}
		{% if rank == 1 %}
			<div class='com_footer'>
			<form action="/comment/remove/{{ post.id }}" method="POST" onsubmit='return confirm("Czy na pewno chcesz usunąć ten komentarz?");'>
			<input type='submit' value='Usuń'>
			<input type='hidden' name='com_id' value='{{ comment.id }}'>
			</form>
			</div>
		{% endif %}
		</div>
	{% endfor %}
	{% else %}
		Brak komentarzy!
	{% endif %}
	</div>
</div>